body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f8f4f1;
}

.nav {
    display: flex;   
    justify-content: space-around;   
    font-weight: 700;
    list-style-type: none;  
    margin: 0 auto; 
    padding: 0px;
    background: #3aa67b;
  }    
    

.nav a:hover {
    color:orangered;
}


.nav li {
    padding: 5px 10px 10px 5px;
}

a {
    text-decoration: none;
    color:black;
}

header{
    text-align: center;
    background: url('images/rsz_office.jpg') no-repeat center;
    background-size:cover;
    overflow:hidden;
    padding-top: 500px;
}

header {
    line-height: normal;
}

.tag {
    background-color: #3aa67b;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: table;
    margin: 20px auto;
}

.card {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 40px 40px ;
    max-width: 500px;
    text-align: center;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s; 
}

.card:hover {
    border-color: orangered;
}

.division {
    display: -ms-flexbox;
    display: flex;
}



footer {
    width: 100%;
    min-height: 30px;
}
a.github {
    display: inline;
    background-size: 30px 30px;
    transition: all .5s;
    
}

footer ul {
    list-style-type: none;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-right:auto;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: .5s;
}

a.github {
    
    background-image: url(../images/github.svg);

}

h2 {
    background-color: #3aa67b;
    padding: 4px;
    border: auto solid white;
    display: table;
    border-radius: 4px;
    margin: 20px auto;
}